@import 'variable.scss';

html{
	font-size: 10px;
}
body{
	background-color: $bg_main;
}

/////////////////////////////////////////////////////////

.main-header{
	height: 500px;
	background: url('../img/header.jpg') no-repeat;
	background-size: cover;
	position: relative;
}
.main-nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
}
.main-logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.main-nav_left{
	margin-right: 50px;
}
.main-nav_right{
	margin-left: 50px;
}
.main-nav_elem{
	display: inline-block;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 8px 3px;
	margin: 0 12px;
	transition: .3s;
	border-bottom: 2px solid transparent;
	&:hover{
		border-bottom: 2px solid #1a1a1a;
	}
}
.main-nav_elem_link{
	color: #1a1a1a;
}
.main-nav_elem.active{
	border-bottom: 2px solid #1a1a1a;
}

//////////////////////////////////////////////////////////////////

.s-about_header{
	height: 500px;
	display: flex;
	flex-wrap: wrap;
}
.s-about_title{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background: url('../img/about/about_header.jpg') no-repeat;
	background-size: cover;
}
.box_title{
	display: inline-block;
	padding: 30px 45px;
	border: 10px solid #121212;
	color: #010101;
	font-size: 3.6em;
	font-weight: 700;
	text-transform: uppercase;
}
.s-about_intro{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background-color: #f2efe5;
}
.s-about_intro-text{
	margin: 0 120px 0 85px;
	 img{
		display: block;
		width: 85px;
		height: 45px;
		margin: auto;
	}
	h3{
		font-size: 1.8em;
		line-height: 1.5;
		text-align: center;
		margin: 20px 0 35px;
		font-weight: 400;
	}
	p{
		font-size: 1.6em;
		line-height: 1.5;
		font-weight: 400;
	}
}
.about-gallery_row-item{
	display: inline-block;
	width: 16.667%;
	position: relative;
  margin-bottom: -2px;
	img{
		display: block;
		width: 100%;
	}
	&:hover .about-gallery_row-item_hover{
		opacity: 1;
		background-color: rgba(255,255,255,.6);
	}
}
.about-gallery_row-item_hover{
	position: absolute;
	transition: .3s ease-out;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  .row-item_search{
		display: block;
		margin: 40% auto 0;
		i{
			font-size: 4em;
		}
  }
  .row-item_group-icon{
  	display: flex;
  	justify-content: space-around;
  	width: 80%;
  	margin: auto;
  	i{
  		font-size: 4em;
  	}
  }
}
.testimonial{
	width: 100%;
	height: 350px;
	position: relative;
}
.testimonial_slide_first,
.testimonial_slide_second{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}
.showing {
  opacity: 1;
  z-index: 2;
}
.testimonial_slides{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	background-size: cover;
}
.testimonial_slide-one{background:url('../img/testimotial_slider-one.jpg') no-repeat;}
.testimonial_slide-two{background:url('../img/testimotial_slider-two.jpg') no-repeat;}
.testimonial_slide-three{background:url('../img/testimotial_slider-three.jpg') no-repeat;}
.testimonial_slide_content{
	padding-top: 80px;
	display: block;
	width: 750px;
	margin: auto;
	color: #f2efe5;
	.testimonial_soc-icon{
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
		i{
			font-size: 4em;
		}
	}
	.first_slider{
		text-align: center;
		font-size: 2.4em;
		font-style: italic;
		font-weight: 700;
		position: relative;
		&:before{
			position: absolute;
			content: '“';
			font-size: 4.6em;
			color: inherit;
			left: -10%;
    	top: -115%;
    	font-weight: 300;
		}
		&:after{
			position: absolute;
			content: '„';
			font-size: 5.6em;
			color: inherit;
			right: -10%;
    	top: -75%;
			font-weight: 300;
		}
	}
	.second_slider{
		font-size: 2.2em;
		font-style: italic;
		font-weight: 700;
	}
	h4{
		font-size: 1.4em;
		font-style: italic;
		text-align: right;
		margin: 80px 30px 0 0;
		text-transform: uppercase;
		position: relative;
		font-weight: 400;
		&:before{
			position: absolute;
			content: '-';
			font-size: 1.6em;
			color: inherit;
			left: 88%;
			top: -45%;
		}
		&:after{
			position: absolute;
			content: '-';
			font-size: 1.6em;
			color: inherit;
			right: -2%;
			top: -45%;
		}
	}
}
.testimonial_slide_content-second{
	width: 910px;
	padding-top: 0;
}
.team{
	display: flex;
	flex-wrap: wrap;
}
.team_box{
	display: flex;
	width: 33.3333%;
	height: 33vw;
	&:nth-child(2){
		background: url('../img/team/team_Corey.jpg') no-repeat;
		background-size: cover;
	}
	&:nth-child(4){
		background: url('../img/team/team_Kat.jpg') no-repeat;
		background-size: cover;
	}
}
.team_title{
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../img/team/team_title.jpg') no-repeat;
	background-size: cover;
}
.team_box-intro{
	align-items: center;
	background-color: #ccc8b6;
}
.team_box_content{
	padding: 0 50px;
	color: #000;
	h2{
		text-align: center;
		font-weight: 700;
		font-size: 2.4em;
		text-transform: uppercase;
	}
	p{
		font: 400 1.4em/1.5 $OpenSans;
		margin: 50px 0;
	}
	.team_soc{
		display: flex;
		justify-content: space-between;
		i{
			font-size: 4em;
		}
	}
}
.team_box-mail{
	align-items: center;
	justify-content: center;
	background-color: #f2efe5;
}
.team_box-mail_content{
	color: #000;
	margin: 0 100px;
	width: 100%;
	h3{
		font-size: 1.4em;
		font-weight: 700;
		text-transform: uppercase;
	}
	p{
		font-size: 1.2em;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
	}
}
.team_box-form{
	margin-top: 40px;
	input[type="mail"]{
		padding: 15px 20px;
		background-color: inherit;
		border: 1px solid #000;
		display: block;
		width: 100%;
		box-sizing:border-box;
		margin-bottom: 20px;
		font-size: 1.2em;
	}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: rgba(51, 51, 51, .8);
		font: 700 1.2em;
		text-transform: uppercase;
	}
	input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	 	color: rgba(51, 51, 51, .8);
	 	font: 700 1.2em;
	 	text-transform: uppercase;
	 	opacity: 1;
	}
	input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
	 	color: rgba(51, 51, 51, .8);
	 	font: 700 1.2em;
	 	text-transform: uppercase;
	 	opacity: 1;
	}
	input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 	color: rgba(51, 51, 51, .8);
	 	font: 700 1.2em;
	 	text-transform: uppercase;
	}
	input[type="submit"]{
		color: #fff;
		background-color: #9a977a;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 400;
		padding: 16px;
		width: 100%;
		box-sizing:border-box;
	}
}
.gallery-wrapper{
	display: flex;
	flex-wrap:wrap;
}
.gallery_item{
	width: 20%;
	position: relative;
	&:hover .gallery-gallery_row-item_hover{
		opacity: 1;
		background-color: rgba(175, 172, 156, .8);
	}
	img{
		display: block;
		width: 100%;
	}
}
.gallery_item_x2{
	width: 40%;
	background-color: rgba(175, 172, 156, 1.0);
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallery-gallery_row-item_hover{
	position: absolute;
	transition: .3s ease-out;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  .row-item_search{
		display: block;
		margin: 40% auto 0;
		i{
			font-size: 4em;
		}
  }
  .row-item_group-icon{
  	display: flex;
  	justify-content: space-around;
  	width: 80%;
  	margin: auto;
  	i{
  		font-size: 4em;
  	}
  }
}
.contact{
	background-color: #e7e5d0;
}
.contact_wrapper{
	padding: 185px 0 155px;
	max-width: 1170px;
	margin: auto;
	display: flex;
}
.contact-box{
	width: 50%;
	text-align: center;
	.contact-box_descr{
		font-size:1.8em;
		line-height: 1.5;
		font-weight: 400;
		margin: 80px 0 70px;
	}
}
.contact__left{
	padding-right:30px;
}
.contact__right{
	padding-left:30px;
}
.contact_contact-info{
	display: flex;
}
.contact_contact-info_content{
	width: 50%;
	h3,p{
		text-align: left;
		text-transform: uppercase;
		font-size: 1.6em;
	}
	h3{
		font-weight: 700;
		margin-bottom: 25px;
	}
	p{
		font-weight: 400;
	}
	span{
		font-weight: 700;
	}
	.contact_info-content-left{
		text-transform: none;
	}
}
.contact_soc{
	margin-top: 125px;
	display: flex;
	justify-content: space-around;
	a{
		color: #000;
		&:hover .fa-facebook{
			color: rgba(59, 89, 152, 1.0);
		}
		&:hover .fa-twitter{
			color: rgba(58, 201, 232, 1.0);
		}
		&:hover .fa-tumblr{
			color: rgba(54, 70, 93, 1.0);
		}
		&:hover .fa-linkedin{
			color: rgba(24, 132, 187, 1.0);
		}
		&:hover .fa-instagram{
			color: rgba(75, 75, 75, 1.0);
		}
		&:hover .fa-google-plus{
			color: rgba(215, 61, 50, 1.0);
		}
	}
	i{
		font-size: 4em;
		transition: .2s ease-out;
	}
}
.contact_form{
	text-align: left;
	input, textarea{
		width: 100%;
		box-sizing: border-box;
		font-size: 1.4em;
		margin-bottom: 60px;
	}
	input[type="text"],
	input[type="mail"],
	textarea{
		padding: 20px;
		border: 2px solid #000;
		background:inherit;
		text-transform: uppercase;
	}
	input[type="submit"]{
		width: 80%;
		padding: 25px 0;
		background:rgba(154, 151, 122, 1.0);
		color: #fff;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: 700;
	}
}