*{
  margin: 0;
}
ol, ul{
  list-style-type: none;
}
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}
a {
  text-decoration: none;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
input, textarea{
	outline: none;
}