script(src="libs/jquery/jquery.min.js")
script(src="libs/jquerySmoothScroll/jquerySmoothScroll.min.js")
script(src="js/common.js")
script(src="https://maps.googleapis.com/maps/api/js?key=<YOUR_KEY>&callback=initMap" async defer)
