script(src="libs/jquery/jquery.min.js")
script(src="libs/jquerySmoothScroll/jquerySmoothScroll.min.js")
script(src="js/common.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaF44wGupbPjsFGY_JMkIPtKlxkRCr7bw&callback=initMap" async defer)