doctype html
html(lang='en')
	include ./includes/head.jade
	body
		main.container.content
			header.main-header#home
				nav.main-nav
					ul.main-nav_box.main-nav_left
						li.main-nav_elem.active
							a(href="#home").main-nav_elem_link Home
						li.main-nav_elem 
							a(href="#about").main-nav_elem_link About
						li.main-nav_elem
							a(href="#gallery").main-nav_elem_link Gallery
					.main-logo
						img(src="img/logo.png", alt="logotype")
					ul.main-nav_box.main-nav_right
						li.main-nav_elem
							a(href="#faq").main-nav_elem_link Faq
						li.main-nav_elem
							a(href="#find").main-nav_elem_link Find us
						li.main-nav_elem
							a(href="#contact").main-nav_elem_link Contact
			section#about.s-about
				.s-about_header
					.s-about_title
						h2.box_title About us
					.s-about_intro
						.s-about_intro-text
							img(src="img/about/about_icon.png")
							h3 Aliquam ac justo interdum, elementum ligula et, condimentum orci.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero.<br>Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.
				.s-about_gallery
					.about-gallery_row
						.about-gallery_row-item
							img(src="img/about/gallery/row1_1.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row1_2.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row1_3.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row1_4.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row1_5.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row1_6.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row2_1.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row2_2.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row2_3.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row2_4.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row2_5.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
						.about-gallery_row-item
							img(src="img/about/gallery/row2_6.jpg")
							.about-gallery_row-item_hover
								.row-item_search
									<i class="fa fa-search" aria-hidden="true"></i>
								.row-item_group-icon
									<i class="fa fa-link" aria-hidden="true"></i>
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									<i class="fa fa-heart" aria-hidden="true"></i>
			section#testimonial.testimonial
				.testimonial_slide.showing
					.testimonial_slides.testimonial_slide-one
						.testimonial_slide_content
							p Aliquam ac justo interdum, elementum ligula et, condimentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							h4 john doe
				.testimonial_slide.testimonial_slide-two
					.testimonial_slides.testimonial_slide-two
						.testimonial_slide_content
							p Aliquam ac justo interdum, elementum ligula et, condimentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							h4 john doe
				.testimonial_slide
					.testimonial_slides.testimonial_slide-three
						.testimonial_slide_content
							p Aliquam ac justo interdum, elementum ligula et, condimentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							h4 john doe
			section#team.team
				.team_box.team_title
					h2.box_title Team
				.team_box
				.team_box
					h2 Corey Miller
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero.<br>Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.
					.team_soc 
				.team_box
				.team_box
					h2 Kat Von D
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero.<br>Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.
					.team_soc
				.team_box
	include ./includes/footer.jade